In [7]:
import pandas as pd
import numpy as np

In [27]:
fir_data = pd.read_csv('fir_data.csv')

In [28]:
fir_data[['REGISTERED DISTRICT ', 'Registered PS ']]

     REGISTERED DISTRICT  Registered PS
0                     NaN            NaN
1                   AGRA        KOTWALI
2                     NaN            NaN
3                     NaN       PINAHAT
4                     NaN            NaN
...                   ...            ...
1858          GOMTINAGAR      7003/2017
1859                  NaN            NaN
1860          GOMTINAGAR      7004/2017
1861                  NaN            NaN
1862          GOMTINAGAR      7005/2017

[1863 rows x 2 columns]

In [31]:
mask = fir_data[['REGISTERED DISTRICT', 'Registered PS', 'FIR No.']].notna().all(axis=1)

In [37]:
fir_data = fir_data[mask]

In [38]:
fir_data.columns = fir_data.columns.str.strip()

In [39]:
text_in_fir_no = fir_data['FIR No.'].str.isnumeric() == False

# Swap values between 'Registered PS' and 'FIR No.' columns in those rows
fir_data.loc[text_in_fir_no, ['Registered PS', 'FIR No.']] = fir_data.loc[text_in_fir_no, ['FIR No.', 'Registered PS']].values

C:\Users\AMANDEEP SINGH\AppData\Local\Temp\ipykernel_20236\2488980245.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fir_data.loc[text_in_fir_no, ['Registered PS', 'FIR No.']] = fir_data.loc[text_in_fir_no, ['FIR No.', 'Registered PS']].values

In [40]:
fir_data

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
1,1,AGRA,KOTWALI,7002/2017,ETAH,JALESAR,7001/2017,घटना स्थल थाना जलेसर एटा का होने के कारण प्राथ...
109,30,ETMADPUR,0401/2015,HATHRAS,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,0144/2015,ALIGARH,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,0628/2015,ALIGARH,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,0381/2015,ALIGARH,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,0047/2017,LUCKNOW,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN
1856,889,GOMTINAGAR,0143/2017,LUCKNOW,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1858,890,GOMTINAGAR,7003/2017,LUCKNOW,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN
1860,891,GOMTINAGAR,7004/2017,LUCKNOW,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1862,892,GOMTINAGAR,7005/2017,LUCKNOW,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN

In [42]:
text_in_fir_no = fir_data['FIR No.'].str.isnumeric() == False

# Create a temporary DataFrame to store the corrected data
temp_df = fir_data.copy()

# Swap values between 'Registered PS' and 'FIR No.' columns in those rows
temp_df.loc[text_in_fir_no, 'Registered PS'] = fir_data.loc[text_in_fir_no, 'FIR No.']
temp_df.loc[text_in_fir_no, 'FIR No.'] = fir_data.loc[text_in_fir_no, 'Registered PS']

In [43]:
temp_df

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
1,1,AGRA,7002/2017,KOTWALI,ETAH,JALESAR,7001/2017,घटना स्थल थाना जलेसर एटा का होने के कारण प्राथ...
109,30,ETMADPUR,HATHRAS,0401/2015,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,ALIGARH,0144/2015,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,ALIGARH,0628/2015,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,ALIGARH,0381/2015,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,LUCKNOW,0047/2017,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN
1856,889,GOMTINAGAR,LUCKNOW,0143/2017,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1858,890,GOMTINAGAR,LUCKNOW,7003/2017,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN
1860,891,GOMTINAGAR,LUCKNOW,7004/2017,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1862,892,GOMTINAGAR,LUCKNOW,7005/2017,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN

In [44]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 848 entries, 1 to 1862
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sl No                        848 non-null    object
 1   REGISTERED DISTRICT          848 non-null    object
 2   Registered PS                848 non-null    object
 3   FIR No.                      848 non-null    object
 4   TRANSFERRED DISTRICT         848 non-null    object
 5   Transferred PS               189 non-null    object
 6   Re registered FIR No.        812 non-null    object
 7   Reason for transferring FIR  45 non-null     object
dtypes: object(8)
memory usage: 59.6+ KB

In [47]:
text_in_fir_no = fir_data['FIR No.'].str.isnumeric()

# Create a temporary DataFrame to store the corrected data
temp_df = fir_data.copy()

# Swap values only for rows where 'FIR No.' contains text
temp_df.loc[text_in_fir_no, 'Registered PS'], temp_df.loc[text_in_fir_no, 'FIR No.'] = temp_df.loc[text_in_fir_no, 'FIR No.'], temp_df.loc[text_in_fir_no, 'Registered PS']

# Check if the correction was successful

In [48]:
temp_df

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
1,1,AGRA,KOTWALI,7002/2017,ETAH,JALESAR,7001/2017,घटना स्थल थाना जलेसर एटा का होने के कारण प्राथ...
109,30,ETMADPUR,0401/2015,HATHRAS,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,0144/2015,ALIGARH,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,0628/2015,ALIGARH,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,0381/2015,ALIGARH,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,0047/2017,LUCKNOW,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN
1856,889,GOMTINAGAR,0143/2017,LUCKNOW,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1858,890,GOMTINAGAR,7003/2017,LUCKNOW,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN
1860,891,GOMTINAGAR,7004/2017,LUCKNOW,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1862,892,GOMTINAGAR,7005/2017,LUCKNOW,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN

In [49]:
# Create a function to check if a value can be converted to numeric
def is_numeric(value):
    try:
        float(value)  # Try to convert the value to a float
        return True
    except ValueError:
        return False

# Use the function to create boolean masks for numeric and non-numeric values
numeric_mask = fir_data['FIR No.'].apply(is_numeric)
text_mask = ~numeric_mask

# Create a temporary DataFrame to store the corrected data
temp_df = fir_data.copy()

# Swap values only for rows where 'FIR No.' contains text
temp_df.loc[text_mask, 'Registered PS'], temp_df.loc[text_mask, 'FIR No.'] = temp_df.loc[text_mask, 'FIR No.'], temp_df.loc[text_mask, 'Registered PS']

In [50]:
temp_df

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
1,1,AGRA,7002/2017,KOTWALI,ETAH,JALESAR,7001/2017,घटना स्थल थाना जलेसर एटा का होने के कारण प्राथ...
109,30,ETMADPUR,HATHRAS,0401/2015,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,ALIGARH,0144/2015,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,ALIGARH,0628/2015,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,ALIGARH,0381/2015,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,LUCKNOW,0047/2017,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN
1856,889,GOMTINAGAR,LUCKNOW,0143/2017,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1858,890,GOMTINAGAR,LUCKNOW,7003/2017,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN
1860,891,GOMTINAGAR,LUCKNOW,7004/2017,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1862,892,GOMTINAGAR,LUCKNOW,7005/2017,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN

In [51]:
non_numeric_mask = temp_df['Registered PS'].str.match(r'^\D+$')

# Use the mask to filter the DataFrame and keep only non-numeric values
filtered_temp_df = temp_df[non_numeric_mask]

In [53]:
fir_data = filtered_temp_df

In [55]:
fir_data.head()

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
109,30,ETMADPUR,HATHRAS,0401/2015,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,ALIGARH,0144/2015,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,ALIGARH,0628/2015,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,ALIGARH,0381/2015,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
128,37,BANNADEVI,ALIGARH,0382/2015,DELHI GATE,NaN,घटनास्थल थाना िेहलीगेट से सम्बन्न्धत,NaN

In [57]:
filter_data = fir_data[['REGISTERED DISTRICT', 'Registered PS']]

In [58]:
csv_path = 'registered_district_and_ps.csv'

filter_data.to_csv(csv_path, index=False)

In [59]:
fir_data

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR
109,30,ETMADPUR,HATHRAS,0401/2015,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN
122,34,CHHARRA,ALIGARH,0144/2015,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN
124,35,ATRAULI,ALIGARH,0628/2015,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN
126,36,BANNADEVI,ALIGARH,0381/2015,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN
128,37,BANNADEVI,ALIGARH,0382/2015,DELHI GATE,NaN,घटनास्थल थाना िेहलीगेट से सम्बन्न्धत,NaN
...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,LUCKNOW,0047/2017,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN
1856,889,GOMTINAGAR,LUCKNOW,0143/2017,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1858,890,GOMTINAGAR,LUCKNOW,7003/2017,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN
1860,891,GOMTINAGAR,LUCKNOW,7004/2017,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN
1862,892,GOMTINAGAR,LUCKNOW,7005/2017,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN

In [60]:
fir_data['Location'] = fir_data['REGISTERED DISTRICT'] + ',' + fir_data['Registered PS']

C:\Users\AMANDEEP SINGH\AppData\Local\Temp\ipykernel_20236\3872919843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fir_data['Location'] = fir_data['REGISTERED DISTRICT'] + ',' + fir_data['Registered PS']

In [61]:
fir_data

,Sl No,REGISTERED DISTRICT,Registered PS,FIR No.,TRANSFERRED DISTRICT,Transferred PS,Re registered FIR No.,Reason for transferring FIR,Location
109,30,ETMADPUR,HATHRAS,0401/2015,HATHRAS KOTWALI,NaN,अमभयोग का संबन्ध थाना हाथरस कोतवाली से होने के...,NaN,"ETMADPUR ,HATHRAS"
122,34,CHHARRA,ALIGARH,0144/2015,GANGIRI,NaN,घटनास्थल थाना गंगीरी से सम्बंमधत होने के कारण,NaN,"CHHARRA ,ALIGARH"
124,35,ATRAULI,ALIGARH,0628/2015,CHHARRA,0041/2016,वािी और प्रमतवािी िोनों छराट के रहने वाले है।,NaN,"ATRAULI ,ALIGARH"
126,36,BANNADEVI,ALIGARH,0381/2015,DELHI GATE,NaN,उच्चामधकारीगण के आिे शानुसार,NaN,"BANNADEVI ,ALIGARH"
128,37,BANNADEVI,ALIGARH,0382/2015,DELHI GATE,NaN,घटनास्थल थाना िेहलीगेट से सम्बन्न्धत,NaN,"BANNADEVI ,ALIGARH"
...,...,...,...,...,...,...,...,...,...
1854,888,GOMTINAGAR,LUCKNOW,0047/2017,GUDAMBA,NaN,घटनास्थल सम्बन्न्धत,NaN,"GOMTINAGAR ,LUCKNOW"
1856,889,GOMTINAGAR,LUCKNOW,0143/2017,CHINHAT,0200/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN,"GOMTINAGAR ,LUCKNOW"
1858,890,GOMTINAGAR,LUCKNOW,7003/2017,VIBHUTI KHAND,0135/2017,घटनास्थल सम्बन्न्धत,NaN,"GOMTINAGAR ,LUCKNOW"
1860,891,GOMTINAGAR,LUCKNOW,7004/2017,VIBHUTI KHAND,0191/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN,"GOMTINAGAR ,LUCKNOW"
1862,892,GOMTINAGAR,LUCKNOW,7005/2017,VIBHUTI KHAND,0190/2017,घटनास्थल सम्बन्न्धत थाना क्षेत्र,NaN,"GOMTINAGAR ,LUCKNOW"

In [62]:
csv_path = 'fir_data_only_UP.csv'

fir_data.to_csv(csv_path, index=False)

In [64]:
fir_data.columns

Index(['Sl No', 'REGISTERED DISTRICT', 'Registered PS', 'FIR No.',
       'TRANSFERRED DISTRICT', 'Transferred PS', 'Re registered FIR No.',
       'Reason for transferring FIR', 'Location'],
      dtype='object')

In [65]:
df_cleaned_india = pd.read_csv('CLEANED_all_india_fir_data.csv')

In [66]:
df_cleaned_india.columns

Index(['FIR Number', 'Date and Time', 'Location', 'Latitude', 'Longitude',
       'Accused Information', 'Accused email', 'criminal information',
       'Incident Description', 'Crime Type'],
      dtype='object')

### Converting date to Date time

In [69]:
df_cleaned_india['DateTime']=pd.to_datetime(df_cleaned_india['Date and Time'], format='%d-%m-%Y %H:%M')

In [70]:
df_cleaned_india['DateTime']

0     2023-10-22 09:30:00
1     2023-10-22 14:15:00
2     2023-10-23 17:45:00
3     2023-10-23 08:20:00
4     2023-10-24 19:00:00
              ...
249   2024-06-28 07:40:00
250   2024-06-29 17:15:00
251   2024-06-30 10:15:00
252   2024-07-01 19:20:00
253   2024-07-02 08:45:00
Name: DateTime, Length: 254, dtype: datetime64[ns]

In [92]:
df_cleaned_UP = pd.read_csv('UP_FIR_DATASET.csv')

In [84]:
df_cleaned_UP.columns

Index(['Sl No', 'REGISTERED DISTRICT', 'Registered PS', 'FIR No.',
       'TRANSFERRED DISTRICT', 'Transferred PS', 'Re registered FIR No.',
       'Reason for transferring FIR', 'Location', 'Latitude', 'Longitude'],
      dtype='object')

In [85]:
df_cleaned_UP.dropna(inplace=True)

In [86]:
df_cleaned_UP.isnull().sum()

Sl No                          0
REGISTERED DISTRICT            0
Registered PS                  0
FIR No.                        0
TRANSFERRED DISTRICT           0
Transferred PS                 0
Re registered FIR No.          0
Reason for transferring FIR    0
Location                       0
Latitude                       0
Longitude                      0
dtype: int64

In [93]:
min_latitude = df_cleaned_UP['Latitude'].min()
max_latitude = df_cleaned_UP['Latitude'].max()
min_longitude = df_cleaned_UP['Longitude'].min()
max_longitude = df_cleaned_UP['Longitude'].max()

In [94]:
print(min_latitude, max_latitude)
print(min_longitude, max_longitude)

23.9905079 31.6861745
76.5213092 90.3877184

In [95]:
df_cleaned_UP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sl No                        742 non-null    int64
 1   REGISTERED DISTRICT          742 non-null    object
 2   Registered PS                742 non-null    object
 3   FIR No.                      742 non-null    object
 4   TRANSFERRED DISTRICT         742 non-null    object
 5   Transferred PS               127 non-null    object
 6   Re registered FIR No.        742 non-null    object
 7   Reason for transferring FIR  0 non-null      float64
 8   Location                     742 non-null    object
 9   Latitude                     742 non-null    float64
 10  Longitude                    742 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 63.9+ KB

In [96]:
for crime in df_cleaned_UP:
        location = crime['Latitude'], crime['Longitude']
        print(location)

TypeError: string indices must be integers, not 'str'

In [98]:
for index, row in df_cleaned_UP.iterrows():
    location = (row['Latitude'], row['Longitude'])
    print(type(location))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [99]:
df_cleaned_UP.columns

Index(['Sl No', 'REGISTERED DISTRICT', 'Registered PS', 'FIR No.',
       'TRANSFERRED DISTRICT', 'Transferred PS', 'Re registered FIR No.',
       'Reason for transferring FIR', 'Location', 'Latitude', 'Longitude'],
      dtype='object')

In [101]:
df_sample = pd.read_csv('sample.csv')

In [102]:
df_sample.columns

Index(['FIR Number', 'Date and Time', 'Location', 'Accused Information',
       'Accused email', 'criminal information', 'Incident Description',
       'Crime Type'],
      dtype='object')

In [103]:
df  = pd.read_csv('CLEANED_all_india_fir_data.csv')

In [104]:
df.columns

Index(['FIR Number', 'Date and Time', 'Location', 'Latitude', 'Longitude',
       'Accused Information', 'Accused email', 'criminal information',
       'Incident Description', 'Crime Type'],
      dtype='object')

In [106]:
df_cleaned_india.columns

Index(['FIR Number', 'Date and Time', 'Location', 'Latitude', 'Longitude',
       'Accused Information', 'Accused email', 'criminal information',
       'Incident Description', 'Crime Type', 'DateTime'],
      dtype='object')

In [107]:
df_cleaned_UP.columns

Index(['Sl No', 'REGISTERED DISTRICT', 'Registered PS', 'FIR No.',
       'TRANSFERRED DISTRICT', 'Transferred PS', 'Re registered FIR No.',
       'Reason for transferring FIR', 'Location', 'Latitude', 'Longitude'],
      dtype='object')

In [108]:
column1 = ['REGISTERED DISTRICT', 'Registered PS','Latitude', 'Longitude']
column2 = ['FIR Number','Accused Information', 'Accused email', 'criminal information','Incident Description', 'Crime Type', 'DateTime' ]

In [109]:
PERFECT_FIR_DATASET = pd.DataFrame()

In [110]:
for i in column1:
    PERFECT_FIR_DATASET[i] = df_cleaned_UP[i]
for i in column2:
    PERFECT_FIR_DATASET[i] = df_cleaned_india[i]

In [111]:
PERFECT_FIR_DATASET.to_csv('PERFECT_FIR_DATASET', index=False)

In [117]:
PERFECT_FIR_DATASET.isnull().sum()

REGISTERED DISTRICT     0
Registered PS           0
Latitude                0
Longitude               0
FIR Number              0
Accused Information     0
Accused email           0
criminal information    0
Incident Description    0
Crime Type              0
DateTime                0
dtype: int64

In [116]:
PERFECT_FIR_DATASET.dropna(inplace=True)

In [118]:
PERFECT_FIR_DATASET.to_csv('PERFECT_FIR_DATASET.csv', index=False)

In [119]:
PERFECT_FIR_DATASET.columns

Index(['REGISTERED DISTRICT', 'Registered PS', 'Latitude', 'Longitude',
       'FIR Number', 'Accused Information', 'Accused email',
       'criminal information', 'Incident Description', 'Crime Type',
       'DateTime'],
      dtype='object')

In [120]:
time = pd.to_datetime(PERFECT_FIR_DATASET['DateTime'], format='%H:%M:%S').time()

AttributeError: 'Series' object has no attribute 'time'

In [121]:
time_of_day = PERFECT_FIR_DATASET['DateTime'].split(' ')[-1]

AttributeError: 'Series' object has no attribute 'split'

In [125]:
PERFECT_FIR_DATASET['DateTime'].hour

AttributeError: 'Series' object has no attribute 'hour'