In [7]:
import pandas as pd
import numpy as np

In [9]:
data1 = pd.read_csv('01_district_wise_crimes_committed_ipc_2001_2012.csv')

In [10]:
data1.head()

,state_ut,district,year,murder,attempt_to_murder,culpable_homicide_not_amounting_to_murder,rape,custodial_rape,other_rape,kidnapping_abduction,...,arson,hurt_grevious_hurt,dowry_deaths,assault_on_women_with_intent_to_outrage_her_modesty,insult_to_modesty_of_women,cruelty_by_husband_or_his_relatives,importation_of_girls_from_foreign_countries,causing_death_by_negligence,other_ipc_crimes,total_ipc_crimes
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [13]:
data2 = pd.read_csv('01_district_wise_crimes_committed_ipc_2013.csv')

In [14]:
data2.head()

,state_ut,district,year,murder,attempt_to_murder,culpable_homicide_not_amounting_to_murder,rape,custodial_rape,other_rape,kidnapping_abduction,...,arson,hurt_grevious_hurt,dowry_deaths,assault_on_women_with_intent_to_outrage_her_modesty,insult_to_modesty_of_women,cruelty_by_husband_or_his_relatives,importation_of_girls_from_foreign_countries,causing_death_by_negligence,other_ipc_crimes,total_ipc_crimes
0,Andhra Pradesh,ADILABAD,2013,96,72,13,61,False,61,65,...,30,2394,12,197,138,464,0,376,1390,6381
1,Andhra Pradesh,ANANTAPUR,2013,156,149,3,28,False,28,110,...,29,2537,23,337,43,161,0,573,1634,6913
2,Andhra Pradesh,CHITTOOR,2013,72,61,2,31,False,31,52,...,18,937,13,119,84,435,0,546,2239,5610
3,Andhra Pradesh,CUDDAPAH,2013,93,107,7,19,False,19,84,...,34,2310,9,318,163,207,0,464,1741,7048
4,Andhra Pradesh,CYBERABAD,2013,162,123,16,138,False,138,192,...,40,4284,43,350,338,1526,0,1104,3139,19992

In [15]:
data3 = pd.read_csv('01_district_wise_crimes_committed_ipc_2014.csv')

In [16]:
data3.head()

,states_uts,district,year,murder,attempt_to_commit_murder,culpable_homicide_not_amounting_to_murder,attempt_to_commit_culpable_homicide,rape,custodial_rape,custodial_gang_rape,...,offences_promoting_enmity_between_different_groups,promoting_enmity_between_different_groups,imputation_assertions_prejudicial_to_national_integration,extortion,disclosure_of_identity_of_victims,incidence_of_rash_driving,humantrafficking,unnatural_offence,other_ipc_crimes,total_cognizable_ipc_crimes
0,Andhra Pradesh,Anantapur,2014,134,171,8,0,35,0,0,...,0,0,0,0,0,1038,0,0,3800,8376
1,Andhra Pradesh,Chittoor,2014,84,170,2,0,32,0,0,...,0,0,0,19,0,249,0,0,2567,5374
2,Andhra Pradesh,Cuddapah,2014,80,162,1,0,28,0,0,...,0,0,0,0,0,948,0,0,2604,5803
3,Andhra Pradesh,East Godavari,2014,64,84,2,0,85,0,0,...,0,0,0,32,0,39,0,0,3791,7630
4,Andhra Pradesh,Guntakal Railway,2014,14,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,37,490

In [17]:
data4 = pd.read_csv('19_motive_or_cause_of_murder_and_culpable_homicide_not_amounting_to_murder.csv')

In [18]:
data4.head()

,area_name,year,chnamurder_cause_by_terroristextremist,chnamurder_cause_casteism,chnamurder_cause_class_conflict,chnamurder_cause_communalism,chnamurder_cause_dowry,chnamurder_cause_for_political_reason,chnamurder_cause_gain,chnamurder_cause_love_affairssexual_relations,...,murder_cause_dowry,murder_cause_for_political_reason,murder_cause_gain,murder_cause_love_affairssexual_relations,murder_cause_lunacy,murder_cause_other_causes_or_motives,murder_cause_personal_vendetta_or_enmity,murder_cause_property_dispute,murder_cause_total,murder_cause_witchcraft
0,Odisha,2007,0,11,0,0,2,0,0,0,...,138,4,60,61,1,755,113,43,1210,28
1,Jharkhand,2002,0,3,2,2,13,3,7,9,...,70,25,103,158,3,599,242,228,1488,26
2,Jharkhand,2004,0,3,2,2,13,3,7,9,...,70,25,103,158,3,599,242,228,1488,26
3,Bihar,2010,0,2,2,0,11,0,47,35,...,168,24,352,187,5,1228,441,916,3362,2
4,Karnataka,2002,0,1,0,0,0,0,0,1,...,52,6,55,130,0,1093,188,98,1627,0

In [29]:
##  Concating common columns in the three data

common_columns = list(set(data1.columns) & set(data2.columns) & set(data3.columns))

# Concatenate the DataFrames using the common columns
concatenated_df = pd.concat([data1[common_columns], data2[common_columns], data3[common_columns]])

concatenated_df.reset_index(drop=True, inplace=True)

In [30]:
concatenated_df

,rape,state_ut,arson,cruelty_by_husband_or_his_relatives,robbery,culpable_homicide_not_amounting_to_murder,custodial_rape,theft,riots,year,...,causing_death_by_negligence,kidnapping_abduction,dacoity,cheating,murder,criminal_breach_of_trust,other_ipc_crimes,district,dowry_deaths,assault_on_women_with_intent_to_outrage_her_modesty
0,50,ANDHRA PRADESH,30,175,41,17,0,199,78,2001,...,181,46,9,104,101,16,1518,ADILABAD,16,149
1,23,ANDHRA PRADESH,69,154,16,1,0,366,168,2001,...,270,53,8,65,151,11,754,ANANTAPUR,7,118
2,27,ANDHRA PRADESH,38,186,14,2,0,723,156,2001,...,404,59,4,209,101,33,1262,CHITTOOR,14,112
3,20,ANDHRA PRADESH,23,57,4,1,0,173,164,2001,...,233,25,1,37,80,12,1181,CUDDAPAH,17,126
4,23,ANDHRA PRADESH,41,247,25,1,0,1021,70,2001,...,431,49,4,220,82,50,2313,EAST GODAVARI,12,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10673,1,Lakshadweep,5,0,0,0,0,15,9,2014,...,0,0,0,0,0,2,30,Lakshadweep,0,1
10674,1,Lakshadweep,5,0,0,0,0,15,9,2014,...,0,0,0,0,0,2,30,Total,0,1
10675,3,Puducherry,0,1,1,0,0,33,5,2014,...,44,1,1,4,6,1,322,Karaikal,0,12
10676,7,Puducherry,1,3,5,3,1,391,34,2014,...,165,7,2,55,19,6,1014,Puducherry,1,20
10677,10,Puducherry,1,4,6,3,1,424,39,2014,...,209,8,3,59,25,7,1336,Total,1,32

In [31]:
concatenated_df.columns

Index(['rape', 'state_ut', 'arson', 'cruelty_by_husband_or_his_relatives',
       'robbery', 'culpable_homicide_not_amounting_to_murder',
       'custodial_rape', 'theft', 'riots', 'year', 'auto_theft',
       'causing_death_by_negligence', 'kidnapping_abduction', 'dacoity',
       'cheating', 'murder', 'criminal_breach_of_trust', 'other_ipc_crimes',
       'district', 'dowry_deaths',
       'assault_on_women_with_intent_to_outrage_her_modesty'],
      dtype='object')

In [27]:
data2.columns

Index(['state_ut', 'district', 'year', 'murder', 'attempt_to_murder',
       'culpable_homicide_not_amounting_to_murder', 'rape', 'custodial_rape',
       'other_rape', 'kidnapping_abduction',
       'kidnapping_and_abduction_of_women_and_girls',
       'kidnapping_and_abduction_of_others', 'dacoity',
       'preparation_and_assembly_for_dacoity', 'robbery', 'burglary', 'theft',
       'auto_theft', 'other_theft', 'riots', 'criminal_breach_of_trust',
       'cheating', 'counterfieting', 'arson', 'hurt_grevious_hurt',
       'dowry_deaths', 'assault_on_women_with_intent_to_outrage_her_modesty',
       'insult_to_modesty_of_women', 'cruelty_by_husband_or_his_relatives',
       'importation_of_girls_from_foreign_countries',
       'causing_death_by_negligence', 'other_ipc_crimes', 'total_ipc_crimes'],
      dtype='object')

In [28]:
# data3.rename(columns={'states_uts':'state_ut'}, inplace=True)

In [33]:
concatenated_df.columns

Index(['rape', 'state_ut', 'arson', 'cruelty_by_husband_or_his_relatives',
       'robbery', 'culpable_homicide_not_amounting_to_murder',
       'custodial_rape', 'theft', 'riots', 'year', 'auto_theft',
       'causing_death_by_negligence', 'kidnapping_abduction', 'dacoity',
       'cheating', 'murder', 'criminal_breach_of_trust', 'other_ipc_crimes',
       'district', 'dowry_deaths',
       'assault_on_women_with_intent_to_outrage_her_modesty'],
      dtype='object')

In [34]:
concatenated_df.isnull().sum()

rape                                                   0
state_ut                                               0
arson                                                  0
cruelty_by_husband_or_his_relatives                    0
robbery                                                0
culpable_homicide_not_amounting_to_murder              0
custodial_rape                                         0
theft                                                  0
riots                                                  0
year                                                   0
auto_theft                                             0
causing_death_by_negligence                            0
kidnapping_abduction                                   0
dacoity                                                0
cheating                                               0
murder                                                 0
criminal_breach_of_trust                               0
other_ipc_crimes                                       0
district                                               0
dowry_deaths                                           0
assault_on_women_with_intent_to_outrage_her_modesty    0
dtype: int64

In [42]:
csv_path = 'CONCAT_CRIME_IPC_DATA_HEAD_500.csv'

concatenated_df.head(500).to_csv(csv_path, index=False)

In [36]:
concatenated_df = concatenated_df[['state_ut', 'district'] + [col for col in concatenated_df.columns if col not in ['state_ut', 'district']]]

In [39]:
concatenated_df['location']=  concatenated_df['state_ut'] + ',' + concatenated_df['district']

C:\Users\AMANDEEP SINGH\AppData\Local\Temp\ipykernel_22992\2873643873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  concatenated_df['location']=  concatenated_df['state_ut'] + ',' + concatenated_df['district']

In [40]:
concatenated_df['location']

0             ANDHRA PRADESH,ADILABAD
1            ANDHRA PRADESH,ANANTAPUR
2             ANDHRA PRADESH,CHITTOOR
3             ANDHRA PRADESH,CUDDAPAH
4        ANDHRA PRADESH,EAST GODAVARI
                     ...
10673         Lakshadweep,Lakshadweep
10674               Lakshadweep,Total
10675             Puducherry,Karaikal
10676           Puducherry,Puducherry
10677                Puducherry,Total
Name: location, Length: 10678, dtype: object

In [43]:
df = pd.read_csv('CONCAT_CRIME_IPC_DATA_HEAD_500_geocoded.csv')

In [46]:
df.columns

Index(['state_ut', 'district', 'rape', 'arson',
       'cruelty_by_husband_or_his_relatives', 'robbery',
       'culpable_homicide_not_amounting_to_murder', 'custodial_rape', 'theft',
       'riots', 'year', 'auto_theft', 'causing_death_by_negligence',
       'kidnapping_abduction', 'dacoity', 'cheating', 'murder',
       'criminal_breach_of_trust', 'other_ipc_crimes', 'dowry_deaths',
       'assault_on_women_with_intent_to_outrage_her_modesty', 'location',
       'Latitude', 'Longitude'],
      dtype='object')

In [47]:
print(df.columns)

Index(['state_ut', 'district', 'rape', 'arson',
       'cruelty_by_husband_or_his_relatives', 'robbery',
       'culpable_homicide_not_amounting_to_murder', 'custodial_rape', 'theft',
       'riots', 'year', 'auto_theft', 'causing_death_by_negligence',
       'kidnapping_abduction', 'dacoity', 'cheating', 'murder',
       'criminal_breach_of_trust', 'other_ipc_crimes', 'dowry_deaths',
       'assault_on_women_with_intent_to_outrage_her_modesty', 'location',
       'Latitude', 'Longitude'],
      dtype='object')

In [48]:
crime_data = df.groupby('state_ut')[['rape', 'arson', 'cruelty_by_husband_or_his_relatives', 'robbery',
                                      'culpable_homicide_not_amounting_to_murder', 'custodial_rape',
                                      'theft', 'riots', 'year', 'auto_theft', 'causing_death_by_negligence',
                                      'kidnapping_abduction', 'dacoity', 'cheating', 'murder',
                                      'criminal_breach_of_trust', 'other_ipc_crimes', 'dowry_deaths',
                                      'assault_on_women_with_intent_to_outrage_her_modesty']].sum()

In [49]:
crime_data

,rape,arson,cruelty_by_husband_or_his_relatives,robbery,culpable_homicide_not_amounting_to_murder,custodial_rape,theft,riots,year,auto_theft,causing_death_by_negligence,kidnapping_abduction,dacoity,cheating,murder,criminal_breach_of_trust,other_ipc_crimes,dowry_deaths,assault_on_women_with_intent_to_outrage_her_modesty
state_ut,,,,,,,,,,,,,,,,,,,
ANDHRA PRADESH,1742,1744,11582,1258,272,0,33502,6002,58029,6102,14800,2364,428,10782,5204,1576,68688,840,7088
ARUNACHAL PRADESH,66,26,22,168,6,0,886,48,28014,72,0,166,44,60,166,82,1236,0,156
ASSAM,1634,882,2496,1374,80,0,10734,5906,56028,700,4020,2960,1064,1150,2712,748,18630,118,1700
BIHAR,1776,1004,3116,4406,500,0,19402,17212,90045,2100,4812,4318,2582,3318,7286,1892,73334,1718,1124
CHHATTISGARH,1918,430,1680,676,90,0,9624,1742,40020,1840,1378,414,174,804,1760,308,31580,140,3526
GOA,24,32,22,50,10,0,1152,128,6003,336,382,18,14,124,72,78,1394,4,34
GUJARAT,572,898,7334,1982,188,0,31668,3860,62031,11008,5848,1996,654,3558,2452,3496,101438,134,1512
HARYANA,796,406,3026,794,156,0,12234,1500,42021,6044,1712,898,154,2032,1562,1112,31812,570,956
HIMACHAL PRADESH,248,268,634,56,22,0,1200,1256,28014,284,966,252,8,292,238,138,12104,20,620
JAMMU & KASHMIR,338,874,100,322,66,0,3838,2144,48024,1266,714,1212,48,782,2150,180,18092,26,1244
JHARKHAND,1134,330,968,1294,286,0,7654,4036,50025,1508,840,882,1272,1108,3014,566,17554,434,594
KARNATAKA,586,704,3510,1694,148,0,25736,13372,64032,8032,200,1118,356,5356,3252,988,94602,440,3330
KERALA,1124,1536,5122,1034,222,0,10882,16216,34017,3590,0,366,352,5512,944,856,109088,54,3884
MADHYA PRADESH,5702,2028,5124,3528,250,0,40526,6790,98049,9070,6594,1912,332,2826,4850,962,170286,1218,14126
MAHARASHTRA,2604,2416,12180,4478,202,0,79732,13438,92046,17746,17986,1970,1058,8546,5678,3084,85926,616,5646
MANIPUR,40,128,10,38,10,0,434,262,20010,142,14,188,40,132,418,66,2194,0,42
MEGHALAYA,52,52,8,250,4,0,542,16,16008,32,0,110,194,58,328,38,1022,0,50
MIZORAM,104,48,32,46,10,0,1756,6,18009,34,46,4,6,142,62,46,998,0,104
NAGALAND,34,2,0,258,18,0,516,4,22011,178,38,46,22,68,202,40,726,0,12
ODISHA,1580,846,2532,1916,106,0,11244,2852,70035,1634,3178,1044,398,1362,1974,570,41620,588,3310
PUNJAB,596,126,2256,262,160,0,6046,2,50025,2408,4308,1026,90,5242,1476,736,18408,318,744
RAJASTHAN,221,169,746,153,8,0,2195,1151,8004,596,678,409,13,833,200,71,8834,68,550

In [54]:
concatenated_df[[
    'rape', 'arson',
       'cruelty_by_husband_or_his_relatives', 'robbery',
       'culpable_homicide_not_amounting_to_murder', 'custodial_rape', 'theft',
       'riots', 'year', 'auto_theft', 'causing_death_by_negligence',
       'kidnapping_abduction', 'dacoity', 'cheating', 'murder',
       'criminal_breach_of_trust', 'other_ipc_crimes', 'dowry_deaths',
       'assault_on_women_with_intent_to_outrage_her_modesty'
]]

,rape,arson,cruelty_by_husband_or_his_relatives,robbery,culpable_homicide_not_amounting_to_murder,custodial_rape,theft,riots,year,auto_theft,causing_death_by_negligence,kidnapping_abduction,dacoity,cheating,murder,criminal_breach_of_trust,other_ipc_crimes,dowry_deaths,assault_on_women_with_intent_to_outrage_her_modesty
0,50,30,175,41,17,0,199,78,2001,22,181,46,9,104,101,16,1518,16,149
1,23,69,154,16,1,0,366,168,2001,57,270,53,8,65,151,11,754,7,118
2,27,38,186,14,2,0,723,156,2001,164,404,59,4,209,101,33,1262,14,112
3,20,23,57,4,1,0,173,164,2001,36,233,25,1,37,80,12,1181,17,126
4,23,41,247,25,1,0,1021,70,2001,150,431,49,4,220,82,50,2313,12,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10673,1,5,0,0,0,0,15,9,2014,0,0,0,0,0,0,2,30,0,1
10674,1,5,0,0,0,0,15,9,2014,0,0,0,0,0,0,2,30,0,1
10675,3,0,1,1,0,0,33,5,2014,11,44,1,1,4,6,1,322,0,12
10676,7,1,3,5,3,1,391,34,2014,274,165,7,2,55,19,6,1014,1,20
10677,10,1,4,6,3,1,424,39,2014,285,209,8,3,59,25,7,1336,1,32

In [55]:
big_data = pd.read_csv('CONCAT_CRIME_IPC_DATA_2.csv')

In [57]:
big_data.isnull().sum()

state_ut                                               0
district                                               0
rape                                                   0
arson                                                  0
cruelty_by_husband_or_his_relatives                    0
robbery                                                0
culpable_homicide_not_amounting_to_murder              0
custodial_rape                                         0
theft                                                  0
riots                                                  0
year                                                   0
auto_theft                                             0
causing_death_by_negligence                            0
kidnapping_abduction                                   0
dacoity                                                0
cheating                                               0
murder                                                 0
criminal_breach_of_trust                               0
other_ipc_crimes                                       0
dowry_deaths                                           0
assault_on_women_with_intent_to_outrage_her_modesty    0
location                                               0
dtype: int64